.main-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.sidebar-toggler {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.sidebar-toggler img {
    width: 20px;
}

.content-top-title {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 600;
}

.content-top-btn {
    margin-left: 18px;
}

.content-top-btn img {
    width: 24px;
}

.content-top-btn img:hover {
    filter: brightness(0) invert(1);
}

.content-top-left {
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: var(--clr-white);
    padding: 4px 8px;
    border-radius: 8px;
}

.wrapper input {
    border: none;
    padding: 3px 0;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 400px) {
    .content-top-right {
        display: none;
    }
}